/* LARGE LAPTOP : 1536px - 1920px; */
@media (max-width: 1730px) {
  .grid-item-3 p {
    font-size: 1.7rem;
  }
  .event-description p {
    font-size: 1.7rem;
  }
  .event-conditions p {
    font-size: 1.7rem;
  }
  .map img {
    width: 35rem;
    margin-bottom: 2rem;
  }
  .btn-ticket button {
    padding: 1rem 6rem 0 6rem;
  }
}
@media (max-width: 1650px) {
  .grid-item-3 p {
    line-height: 1.5;
  }
  .second-space {
    display: none;
  }
}
@media (max-width: 1580px) {
  .grid-item-3 p {
    line-height: 1.3;
  }
}

/* LARGE LAPTOP - LARGE SCREEN : 1280px - 1536 px*/

@media (max-width: 1536px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-item-1 {
    grid-column: 1 / 4;
  }
  .grid-item-2 {
    grid-column: 1 / 4;
  }
  .grid-item-3 {
    grid-column: 1 / 4;
  }
  .grid-item-4 {
    grid-column: 1 / 2;
  }
  .grid-item-5 {
    grid-column: 2 / 3;
  }
  .grid-item-6 {
    grid-column: 3 / 4;
  }
  .grid-item-7 {
    grid-column: 1 / 2;
  }
  .grid-item-8 {
    grid-column: 2 / 3;
  }
  .grid-item-9 {
    grid-column: 3 / 4;
  }
  .grid-item-10 {
    grid-column: 1 / 2;
  }
  .grid-item-11 {
    grid-column: 2 / 3;
  }
  .grid-item-12 {
    grid-column: 3 / 4;
  }
  .grid-item-13 {
    grid-column: 1 / 4;
  }
  .second-space {
    display: initial;
  }
  .event-title {
    font-size: 3rem;
    margin-left: 3.5rem;
  }
  .event-description p {
    width: 40rem;
  }
  .conditions-title {
    font-size: 3rem;
    margin-left: 9rem;
  }
  .event-conditions p {
    width: 42rem;
  }
  .map img {
    width: 30rem;
    margin-bottom: 2rem;
    border: 3px solid #8597ad;
  }
  .btn-ticket button {
    width: 100%;
    padding: 1rem 6rem 0 6rem;
  }
}

@media (max-width: 1295px) {
  .event-title {
    font-size: 2.5rem;
    margin-left: 3.5rem;
  }
  .event-description p {
    width: 35rem;
  }
  .conditions-title {
    font-size: 2.5rem;
    margin-left: 9rem;
  }
  .event-conditions p {
    width: 37rem;
  }
  .map img {
    width: 30rem;
    margin-bottom: 2rem;
    border: 3px solid #8597ad;
  }
  .btn-ticket button {
    width: 100%;
    padding: 1rem 6rem 0 6rem;
  }
}

/* SMALL LAPTOP - LARGE LAPTOPS : 1024px - 1280 px*/
@media (max-width: 1195px) {
  #events {
    scroll-margin-top: 2.5rem;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .event-title {
    margin-left: 0;
  }
  .event-description p {
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 3rem;
    margin-bottom: 3rem;
  }
  .conditions-title {
    margin-left: 0;
  }
  .event-conditions p {
    width: fit-content;
    line-height: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .location-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    margin-bottom: 1rem;
  }
  .map img {
    width: 40rem;
    border: 3px solid #8597ad;
  }
  .btn-ticket button {
    width: 100%;
    padding: 1rem 6rem 0 6rem;
  }
}

@media (max-width: 1170px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .grid-item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .grid-item-2 {
    grid-column: 1 / 3;
  }
  .grid-item-3 {
    grid-column: 1 / 3;
  }
  .grid-item-4 {
    grid-column: 1 / 2;
  }
  .grid-item-5 {
    grid-column: 2 / 3;
  }
  .grid-item-6 {
    grid-column: 1 / 2;
  }
  .grid-item-7 {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
  }
  .grid-item-8 {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
  }
  .grid-item-9 {
    grid-column: 1 / 2;
    grid-row: 10 / 11;
  }
  .grid-item-10 {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
  }
  .grid-item-11 {
    grid-column: 2 / 3;
    grid-row: 8 / 9;
  }
  .grid-item-12 {
    grid-column: 1 / 2;
    grid-row: 11 / 12;
  }
  .grid-item-13 {
    grid-column: 1 / 3;
  }
}
/* MD - TABLETS : 768px - 1024px */

/* Media queries nav bar*/
@media (max-width: 1000px) {
  .hideOnTablet,
  .btns {
    display: none;
  }
  .menu-svg-open {
    display: block;
    z-index: 999;
  }
}
/* MD - TABLETS : 768px - 1024px */

@media (max-width: 1020px) {
  .location-container {
    gap: 5rem;
  }
  .group-title {
    font-size: 7rem;
  }
  span.group-description {
    font-size: 4rem;
  }
  .grid-item-1 h1,
  .grid-item-2 h1,
  .grid-item-13 h1 {
    font-size: 6rem;
  }
  .btn-join h1,
  .btn-book h1 {
    font-size: 5rem;
  }
  .btn-ticket button {
    padding: 1rem 5rem 0 4rem;
    font-size: 5rem;
  }
}
@media (max-width: 820px) {
  .map img {
    width: 30rem;
  }
  .btn-ticket button {
    padding: 1rem 4rem 0 4rem;
    font-size: 5rem;
  }
}
@media (max-width: 768px) {
  .group-title {
    font-size: 5rem;
  }
  span.group-description {
    font-size: 2rem;
  }
  .grid-item-1 h1,
  .grid-item-2 h1,
  .grid-item-13 h1 {
    font-size: 5rem;
  }
  .btn-join h1,
  .btn-book h1 {
    font-size: 4rem;
  }
  .grid-item-7 button,
  .grid-item-8 button,
  .grid-item-9 button,
  .grid-item-10 button,
  .grid-item-11 button,
  .grid-item-12 button {
    height: 7rem;
  }
  .btn-ticket button {
    padding: 0rem 4rem 0 4rem;
    font-size: 4rem;
  }
  .contact-container {
    margin-top: 3rem;
    height: 25rem;
  }
  .footer-img img {
    height: 15rem;
    top: -7rem;
  }
  .contact-container p {
    font-size: 1.6rem;
    padding-top: 12rem;
    line-height: 1.6;
  }
}

/* SM - PHONE LANDSCAPE : 576px - 768px */

@media (max-width: 750px) {
  .grid-container {
    grid-template-columns: 1fr;
    column-gap: 0rem;
  }
  .grid-item-1 {
    grid-column: 1 / 2;
  }
  .grid-item-2 {
    grid-column: 1 / 2;
  }
  .grid-item-3 {
    grid-column: 1 / 2;
  }
  .grid-item-4 {
    grid-column: 1 / 2;
  }
  .grid-item-5 {
    grid-column: 1 / 2;
  }
  .grid-item-6 {
    grid-column: 1 / 2;
  }
  .grid-item-7 {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    width: 50%;
  }
  .grid-item-8 {
    grid-column: 1 / 2;
    grid-row: 10 / 11;
    width: 50%;
  }
  .grid-item-9 {
    grid-column: 1 / 2;
    grid-row: 13 / 14;
    width: 50%;
  }
  .grid-item-10 {
    grid-column: 1 / 2;
    grid-row: 8 / 9;
    width: 50%;
  }
  .grid-item-11 {
    grid-column: 1 / 2;
    grid-row: 11 / 12;
    width: 50%;
  }
  .grid-item-12 {
    grid-column: 1 / 2;
    grid-row: 14 / 15;
    width: 50%;
  }
  .grid-item-13 {
    grid-column: 1 / 2;
  }
}

@media (max-width: 680px) {
  .grid-container {
    grid-template-columns: 1fr;
    column-gap: 0rem;
  }
  .map img {
    width: 25rem;
    border: 2px solid #8597ad;
  }
  .btn-ticket button {
    padding: 1rem 4rem 1rem 4rem;
    font-size: 4rem;
    height: 80%;
  }
  .location-container {
    gap: 3rem;
  }
}
@media (max-width: 600px) {
  .location-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
/* XS : < 576px */
@media (max-width: 500px) {
  .group-title {
    font-size: 3rem;
  }
  span.group-description {
    font-size: 2rem;
  }
  .grid-item-1 h1,
  .grid-item-2 h1,
  .grid-item-13 h1 {
    font-size: 4rem;
  }
  .btn-join h1,
  .btn-book h1 {
    font-size: 4rem;
  }
  .grid-item-7 button,
  .grid-item-8 button,
  .grid-item-9 button,
  .grid-item-10 button,
  .grid-item-11 button,
  .grid-item-12 button {
    height: 7rem;
  }
}

/* Media queries nav bar*/
@media (max-width: 430px) {
  .sidebar {
    width: 100%;
  }
  .logo {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .bg-image {
    width: 100%;
    height: 15rem;
  }
  .grid-item-3 p {
    text-align: center;
  }
  .event-title {
    margin-left: 1.8rem;
  }
  .conditions-title {
    margin-left: 5.9rem;
  }
  .btn-ticket button {
    padding: 1.5rem 4rem 1rem 4rem;
  }
}
@media (max-width: 390px) {
  .grid-container {
    padding: 0 1rem 0 1rem;
  }
  .contact-container {
    margin-top: 3rem;
    height: 25rem;
  }
  .footer-img img {
    width: 50%;
    height: auto;
    top: -6rem;
    transform: translate(50%, 0);
  }
  .contact-container p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
