/* 1rem = 16px */
/* 10px / 16px = 0.625*100 = 62.5% */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 0.1rem;
  background-color: #e0e1dda2;
}

body {
  min-height: 100vh;
  background-color: #e0e1dd;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  color: #e0e1dd;
  font-family: "Kanit", serif;
  font-size: 3rem;
  font-weight: 400;
  padding: 0 0.5rem;
}
.logo img {
  width: 8rem;
  height: 8rem;
}
nav {
  width: 100%;
  height: 8rem;
  background-color: #0d1b2a;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 999;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 5rem; /* 8rem = 10px * 8 = 80px */
}
nav a {
  height: 100%;
  padding: 0 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #e0e1dd;
  font-family: "Kanit", serif;
  font-size: 2rem;
  font-weight: 300;
}
nav a:hover {
  background-color: #415a77;
  border: 0.2rem solid white;
  border-radius: 1rem;
}
.menu-svg-open a:hover {
  background-color: initial;
  border: none;
  border-radius: none;
  transform: scale(1.2);
  transition: all 0.5s ease-in;
  filter: brightness(1.5);
  transform: translateY(-2px);
}
.menu-svg-close a:hover {
  background-color: initial;
  border: none;
  border-radius: none;
  transition: all 0.5s ease-in;
  filter: brightness(1.5);
  transform: translateY(-2px);
}
/* Buttons styles */
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  padding-right: 2rem;
}
.btns button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.btn-login {
  background-color: #778da9;
  border: 0.2rem solid #e0e1dd;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 2rem;
  color: #0d1b2a;
  transition: transform 0.15s, box-shadow 0.2s;
  text-decoration: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
  margin-left: 3rem;
}
.btn-login:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 32px -8px rgba(224, 225, 221, 0.5);
}
.btn-register {
  background-color: #778da9;
  border: 0.2rem solid #e0e1dd;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 2rem;
  color: #0d1b2a;
  transition: transform 0.15s, box-shadow 0.2s;
  text-decoration: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
}
.btn-register:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 32px -8px rgba(224, 225, 221, 0.5);
}
/* Sidebar for smaller size screen */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 25rem;
  z-index: 1000;
  background-color: rgba(130, 152, 180, 0.603);
  -webkit-backdrop-filter: blur(10px); /*glass effect for Safari/iOS*/
  backdrop-filter: blur(10px); /*glass effect */
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li img {
  width: 15rem;
}
.sidebar li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}
li.menu-svg-open a {
  padding-right: 25px;
  padding-left: 0px;
}
li.menu-svg-close {
  padding-top: 5px;
}
li.menu-svg-close a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 5px;
}
.sidebar a {
  width: 100%;
  justify-content: center;
}
.sidebar a:hover {
  background-color: #415a7736;
  border: none;
  border-radius: none;
}
.menu-svg-close a:hover {
  background-color: initial;
  border: none;
  border-radius: none;
}
.sidebar button {
  width: 70%;
  background-color: #778da959;
  border: 0.2rem solid #e0e1dd;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 2rem;
  color: #e0e1dd;
  padding: 0.6rem 1rem;
  cursor: pointer;
}
.sidebar button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.menu-svg-open {
  display: none;
}
/* bg image */
.bg-image-container {
  position: relative;
}
.bg-image-container img {
  width: 100%;
  mask: linear-gradient(to top, #0000, #000 5%) padding-box;
}
.bg-image-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e0e1dda2;
  width: 100%;
  font-family: "Alex Brush", cursive;
  font-weight: bold;
  font-style: normal;
  color: #0d1b2a;
  border: 1px solid #0d1b2a;
}
.bg-image-container h1:hover {
  transition: linear 1s;
  filter: drop-shadow(16px 16px 20px blue) invert(85%);
  /* drop-shadow(Horizontal offset, Vertical offset, Blur radius,Shadow color, Inverts the colors of the element)*/
}
.group-title {
  font-size: 10rem;
}
span.group-description {
  font-size: 7rem;
}

#about,
#games {
  scroll-margin-top: 2.5rem;
}
/* Grid Layout styles */

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr; /* column width*n.columns + column-gap*n. gap */
  max-width: 100%;
  column-gap: 3rem;
  row-gap: 3rem;
  padding: 0 3rem 0 3rem;
  justify-items: center;
  height: fit-content;
}
.grid-item-1 {
  width: 100%;
  background-color: #0d1b2a;
  border: 1px solid #0d1b2a;
  border-radius: 3rem;
  grid-column: 1 / 2;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.6);
}
.grid-item-1 h1 {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  text-align: center;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 8rem;
  margin-top: 1rem;
  color: #e0e1dd;
}
.grid-item-2 {
  width: 100%;
  background-color: #0d1b2a;
  border: 1px solid #0d1b2a;
  border-radius: 3rem;
  grid-column: 2 / 5;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.6);
}
.grid-item-2 h1 {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  grid-row: 1 / 5;
  text-align: center;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 8rem;
  margin-top: 1rem;
  color: #e0e1dd;
}
.grid-item-3 {
  width: 100%;
  background-color: #778da9;
  border: 3px solid #0d1b2a;
  border-radius: 3rem;
  grid-row: 2 / 5;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.6);
}
.grid-item-3 p {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  text-align: center;
  font-family: "Kanit", serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: justify;
  color: #0d1b2a;
  margin: 30px 30px 10px 30px;
}
.join:hover {
  text-decoration: underline;
  transition: linear 0.5s;
  cursor: pointer;
  color: #e0e1dd;
}
.book:hover {
  text-decoration: underline;
  transition: linear 0.5s;
  cursor: pointer;
  color: #e0e1dd;
}
.ticket:hover {
  text-decoration: underline;
  transition: linear 0.5s;
  cursor: pointer;
  color: #e0e1dd;
}
.grid-item-4,
.grid-item-5,
.grid-item-6 {
  width: 35rem;
}
.grid-item-4 img,
.grid-item-5 img,
.grid-item-6 img {
  border: 3px solid #0d1b2a;
  border-radius: 3rem;
  width: 100%;
  height: 52rem;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.6);
}
.grid-item-4 img:hover,
.grid-item-5 img:hover,
.grid-item-6 img:hover {
  filter: brightness(1.2);
  transition: filter 0.5s ease;
}

.grid-item-7,
.grid-item-8,
.grid-item-9,
.grid-item-10,
.grid-item-11,
.grid-item-12 {
  width: 100%;
}
.grid-item-7 button,
.grid-item-8 button,
.grid-item-9 button,
.grid-item-10 button,
.grid-item-11 button,
.grid-item-12 button {
  background-color: #0d1b2a;
  border: 0.2rem solid #0d1b2a;
  border-radius: 2rem;
  width: 100%;
  height: 10rem;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.6);
}
.btn-join h1,
.btn-book h1 {
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  color: #e0e1dd;
  margin-top: 10px;
}

/* Event */
.grid-item-13 {
  width: 100%;
  grid-column: 1 / 5;
  background-color: #0d1b2a;
  border: 1px solid #0d1b2a;
  border-radius: 3rem;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.6);
}
.grid-item-13 h1 {
  text-align: center;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 8rem;
  margin-top: 1rem;
  color: #e0e1dd;
}
.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}
.strong {
  text-decoration: underline;
  color: #8597ad;
}
.event-description {
  width: fit-content;
  margin-top: 2rem;
}
.event-title {
  font-family: "Alex Brush", cursive;
  font-style: normal;
  font-weight: lighter;
  font-size: 4rem;
  color: #e0e1dd;
  border: 5px solid #8597ad;
  margin-left: 3rem;
  padding: 1rem;
  text-decoration: none;
}
.event-description p {
  width: 50rem;
  text-align: left;
  font-family: "Kanit", serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: justify;
  color: #e0e1dd;
}
.event-conditions {
  width: fit-content;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
.conditions-title {
  font-family: "Alex Brush", cursive;
  font-style: normal;
  font-weight: lighter;
  font-size: 4rem;
  color: #e0e1dd;
  margin-left: 11rem;
  border: 5px solid #8597ad;
  padding: 1rem;
}
.event-conditions p {
  width: 55rem;
  font-family: "Kanit", serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: justify;
  color: #e0e1dd;
  float: right;
  list-style: none;
}
.location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.map img {
  width: 45rem;
  max-width: 100%;
  border: 5px solid #8597ad;
  border-radius: 6rem;
  margin-bottom: 4rem;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.6);
}
.map img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: linear 0.5s;
}
.btn-ticket button {
  background-color: #2a5480;
  border: 0.2rem solid #0d1b2a;
  border-radius: 2rem;
  width: 100%;
  height: 10rem;
  padding: 1rem 8rem 0 8rem;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  color: #e0e1dd;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.6);
}
.btn-ticket button:hover {
  filter: drop-shadow(10px 10px 15px #e0e1dd) invert(85%);
  border: 0.2rem solid #e0e1dd;
  border-radius: 2rem;
}
/* Active buttons */
.grid-container button.btn-join:active {
  transform: scale(0.98);
}
.grid-container button.btn-join:hover {
  filter: drop-shadow(10px 10px 15px #e0e1dd) invert(85%);
  border: 0.2rem solid #e0e1dd;
  border-radius: 2rem;
}
.grid-container button.btn-book:active {
  transform: scale(0.98);
}
.grid-container button.btn-book:hover {
  filter: drop-shadow(10px 10px 15px #e0e1dd) invert(85%);
  border: 0.2rem solid #e0e1dd;
  border-radius: 2rem;
}
.btn-ticket button:active {
  transform: scale(0.98);
}
/* Footer style */
.contact-container {
  margin-top: 3rem;
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0d1b2a;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.8);
}
.footer-img img {
  width: 100%;
  height: 25rem;
  position: relative;
  top: -8rem;
}
.contact-container p {
  font-family: "Kanit", serif;
  font-size: 2rem;
  font-weight: 400;
  color: #e0e1dd;
  text-align: center;
  position: absolute;
  padding-top: 23rem;
  line-height: 1.6;
}
